<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        {{ if environment == 'production' }}
            {{ theme:css src="app.min" tag="true" }}
        {{ else }}
            {{ theme:css src="app" tag="true" }}
        {{ /if }}
    </head>
    <body>
        {{ template_content }}
        {{ if environment == 'production' }}
            {{ theme:js src="app.min" tag="true" }}
        {{ else }}
            {{ theme:js src="app" tag="true" }}
        {{ /if }}
    </body>
</html>
